<div class="auth-wrapper">
  <form class="auth-form" [formGroup]="form">
    <h1>Sign in</h1>
    <div class="error-wrapper" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="form-group">
      <input class="form-control" name="username" placeholder="Username" formControlName="username" />
      <div class="form-error" *ngIf="form.get('username').touched && form.get('username').invalid">
        <span *ngIf="form.get('username').errors.required">This field is required</span>
        <span *ngIf="form.get('username').errors.email">Please enter valid email address</span>
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" name="password" placeholder="Password" type="password" formControlName="password" />
      <div class="form-error" *ngIf="form.get('password').touched && form.get('password').invalid">
        <span *ngIf="form.get('password').errors.required">This field is required</span>
      </div>
    </div>
    <button type="button" (click)="onSubmit()">Log in</button>
    <a class="register-link" [routerLink]="['/auth/register']">Register</a>
  </form>

</div>
