<div class="auth-wrapper">
  <div class="auth-form">
    <h1>Register</h1>
    <div class="error-wrapper" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
    <input class="form-control" name="username" placeholder="Username" [(ngModel)]="username" />
    <input class="form-control" name="password" placeholder="Password" type="password" [(ngModel)]="password"  />
    <button type="button" (click)="onSubmit()">Sign up</button>
  </div>

</div>
