.auth-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  display: flex;
  flex-direction: column;

  .form-control {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #ededed;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  button {
    background-color: orange;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 4px;
    outline-color: #fff;
  }
}

.error-wrapper {
  background-color: #ffcc80;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  max-width: 400px;
  text-align: center;
  margin: 15px;
}
