.users-table {
  table {
    width: 100%;
    background-color: #fff;
    border-collapse: collapse;

    th, td {
      text-align: center;
      padding: 0.5rem 1rem;
      border: 1px solid #efefef;
    }
  }
}
