<h2>Users list</h2>
<div class="users-table">
  <input type="text" [(ngModel)]="searchInput" />
  <button (click)="clearSearchInput()">Clear</button>
  <button (click)="search()">Search!</button>
  <table>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let user of users$ | async" (click)="navigateToUser(user.id)">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </table>
</div>
