<h2>User Details</h2>
<ng-container *ngIf="user">
  <a [routerLink]="['/users/form/', user.id]">Edit</a>
  <h3>{{ user.name | uppercase }}</h3>
  <div>{{ user.email }}</div>
  <div>{{ user.phone }}</div>
  <div>{{ user.address | concatFields:'city':'street' }}</div>
  <div>{{ user.company | concatFields:'name':'catchPhrase' }}</div>
</ng-container>


